body{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}